td > button {
    padding: 0;
    text-align: left;
    font-weight: inherit;
    letter-spacing: normal;
    font-size: inherit;
    border: 0;
}

.CartellPeli{
    width: 250px;
}

.textoInfo{
    width: 70%;
    float: left;
}

.sessionsFutures{
    margin: auto;
}

.cartellInfo{
    margin-left: 5%;
}

.textSelSessio{
    margin-top: 3%;
    text-align: center;
    color: #63639c;
}