.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
}

.slideshow-container > a {
    border: none;
    color: #FF9B21;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 1%;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: solid 1px;

}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color:#63639c;
}

button > img {
      width: 100%;
      height: 100%;
      margin: 2%;
}

.mySlides {
    height: 265px;
    width: 90%;
    margin: auto;
}

.mySlides > button {
    width: 20%;
    height: 100%;
    border: none;
    padding: 1%;
}

