@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
    background-color: #F7F7F7;
}

body{
    font-family: 'Roboto', sans-serif;
}

p{    
    color: #333333;
}

.logo{
    width: 100px;
}

.titol{
    width: 180px;
}

header{
    padding: 1%;;
    background-color: #63639c;
}

footer{
    background-color: #63639c;
    padding: 20px;
    color: white;
    text-align: center;
}

.content{
    margin: auto;
    padding: 2%;
    width: 90%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #FFFFFF;
}

h1, h2, h3, h4{
    font-variant: small-caps;
    color: #282828;
}

h1{
    font-size: 55px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 35px;
}

h4{
    font-size: 25px;
}

.linkInici {
    text-decoration: none;
}

.botonHeader {
    float: right;
    margin: 1%;
    background-color: #FFFFFF;
}

.botonFooterSEG {
    float: right;
    margin: 1%;
    background-color: #FFFFFF;
}

.info{
    margin-left: 3%;
    float: left;
    width: 45%;
    text-align: justify;
}

.butacas{
    float: left;
    width: 50%;
}

.CartellPeli{
    border-radius: 10px 40px;
}

.paginaError {
    padding-bottom: 25%;
}