table {
    width: 100%;
}

.dataCalendari {
    border: none;
}

.anterior {
    color: #c0c0c0;
    text-align: center;
}

.centro {
    text-align: center;
}

button {
    font-size: inherit;
    font-weight: inherit;
    color: #000000;
}

.row {
    margin-top: 5%;
}

.diaActual {
    background-color: #FF9B21;
}

td {
    padding: 1%;
    text-align: center;
}