td {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.marca {
  outline: 2.5px solid #5CB85C;
}

.minu{
  background-image: url("../img/butaques/min.png");
}

.sel2{
  background-image: url("../img/butaques/min2.png");
}

.ocupat{
  background-image: url("../img/butaques/bm3.png");
}

.lliure{
  background-image: url("../img/butaques/bm.png");
}

.VIP{
  background-image: url("../img/butaques/bmVIP.png");
}

.sel{
  background-image: url("../img/butaques/bm2.png");
}

#pantalla{
  width: 100%;
}

#preu {
  margin-bottom: 0%;
}
#total {
  margin-bottom: 0%;
}
#panell {
  margin-top: 3%;

}