form {
    margin: 15% auto;
    width: 35%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

.error {
    background-color: #F78181 !important;
}